.splide__arrow--next {
  background-color: #ff7315 !important;
  width: 25px !important;
  height: 25px !important;
}
.splide__arrow--prev {
  background-color: #ff7315 !important;
  width: 25px !important;
  height: 25px !important;
}
